extends template-inner

block main
	+header('inner', 'img/logo.jpg')
	.main-content
		.container
			.breadcumbs
				ul
					li: a(href="#") Главная
					li О продукции Jessica
			.content-header
				h2 О продукции Jessica
			p Фабрика «Jessica» занимается производством одежды для аэробики и фитнесса производства Венгрия.
			p Товары производятся из превосходного итальянского текстиля, представляющего качество первого класса на рынке уже более 20 лет. Новейшие виды текстиля также используются в производстве, чтобы обеспечитьмаксимальное ощущение комфорта во время физической нагрузки.
			p Типичный состав эластичных товаров составляет 80% полиамида, 20% лайкры. Это лучший выбор для активного спорта из-за следующих факторов: не деформируется, дышащая, практичная, долговечная, мягкая, легкостирается и быстро сохнет. Специальные нити и их эластичность используются для того, чтобы достичь комфорта во всех отношениях.
			p Товары характеризуются разнообразными, яркими цветами, демонстрирующие динамику. При выборе цвета и стиля, основной акцент лежит на показе женской формы наиболее эстетично и приятно. При создании формы ицвета модели, всегда принимаются во внимание тенденции нынешней моды.
			img(src="pic/about-jessica.jpg", alt="")
