//+------- footer -------+
.main-footer
	.container
		.col
			span Мы в социальных сетях
			.social
				ul.social
					li.social__item
						a(href="#") Instagramm
					li.social__item
						a(href="#") Vkontakte
					li.social__item
						a(href="#") Facebook
					li.social__item
						a(href="#") Google+
		.col
			a(href="index.html").logo: img(src="img/logo.jpg", alt="")
		.col
			|© "Cпортивный Сезон"
//+----- footer end -----+