head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Start
    meta(name='description', content='')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // LIBS STYLES ======================================================================
    link(rel='stylesheet', href='libs/owl/owl.carousel.css')
    link(rel='stylesheet', href='libs/fancybox/jquery.fancybox.css')
    link(rel='stylesheet', href='libs/ui-selectmenu/jquery-ui-selectmenu.min.css')
    // CUSTOM STYLES ====================================================================
    link(rel='stylesheet', href='css/style.css')
    script(src='libs/modernizr.js')