head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Start
    meta(name='description', content='')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // LIBS STYLES ======================================================================
    // CUSTOM STYLES ====================================================================
    link(rel='stylesheet', href='css/style.css')
    script(src='libs/modernizr.js')